In [1]:
import pandas as pd

* Video (at least the 20s test) is height 540, width 960...

In [14]:
raw_tracks = pd.read_csv('../data/converted_3.mp4_classes.csv').set_index('frame_index')

In [15]:
##TODO replace placeholder
video_fps = 4

In [16]:
raw_tracks['centroid_x'] = (raw_tracks['bbox0'] + raw_tracks['bbox2']) / 2
raw_tracks['centroid_y'] = (raw_tracks['bbox1'] + raw_tracks['bbox3']) / 2

In [17]:
raw_tracks

,track_id,class_name,bbox0,bbox1,bbox2,bbox3,centroid_x,centroid_y
frame_index,,,,,,,,
2,1,car,1004,336,1264,452,1134.0,394.0
2,2,truck,528,281,687,398,607.5,339.5
2,3,car,441,315,464,329,452.5,322.0
2,4,car,422,315,440,327,431.0,321.0
2,5,car,346,309,361,318,353.5,313.5
...,...,...,...,...,...,...,...,...
3344,1881,car,979,370,1064,408,1021.5,389.0
3344,1884,car,392,342,417,359,404.5,350.5
3344,1888,car,630,306,885,465,757.5,385.5
3344,1896,car,439,347,463,365,451.0,356.0
3344,1898,car,483,332,590,407,536.5,369.5

In [19]:
raw_tracks[raw_tracks['class_name'] == 'person']

,track_id,class_name,bbox0,bbox1,bbox2,bbox3,centroid_x,centroid_y
frame_index,,,,,,,,
83,68,person,153,338,171,375,162.0,356.5
84,68,person,151,335,171,378,161.0,356.5
85,68,person,151,335,171,378,161.0,356.5
86,68,person,149,336,168,377,158.5,356.5
86,75,person,181,341,199,392,190.0,366.5
...,...,...,...,...,...,...,...,...
3262,1861,person,146,325,178,373,162.0,349.0
3263,1861,person,147,327,178,375,162.5,351.0
3264,1861,person,148,331,173,370,160.5,350.5
3265,1861,person,144,333,165,365,154.5,349.0
3266,1861,person,144,335,164,365,154.0,350.0

In [20]:
raw_tracks[raw_tracks['class_name'] == 'person']['track_id'].unique()

array([  68,   75,   85,  141,  292,  701,  705,  854,  887,  975, 1079,
       1080, 1084, 1097, 1102, 1103, 1122, 1151, 1283, 1296, 1308, 1320,
       1327, 1547, 1841, 1861])

In [21]:
raw_tracks[raw_tracks['track_id'] == 1080]

,track_id,class_name,bbox0,bbox1,bbox2,bbox3,centroid_x,centroid_y
frame_index,,,,,,,,
1839,1080,person,824,367,841,408,832.5,387.5
1840,1080,person,824,368,841,409,832.5,388.5
1841,1080,person,824,365,841,407,832.5,386.0
1842,1080,person,824,368,840,407,832.0,387.5
1843,1080,person,822,368,838,408,830.0,388.0
...,...,...,...,...,...,...,...,...
1929,1080,person,213,346,233,384,223.0,365.0
1932,1080,person,191,341,217,391,204.0,366.0
1933,1080,person,187,340,213,391,200.0,365.5
1934,1080,person,185,338,211,390,198.0,364.0
1935,1080,person,178,337,205,390,191.5,363.5

In [22]:
##filename: (x_ped_threshold, y_car_threshold)
x_y_cuts = {'converted_3.mp4':(510, 400)}

In [ ]:
## tracking crossings: ix = cross_event (new)
    ## use x=320 centroid for peds
    ## use y=320 for cars passing
## cols: track id, num_frames, cross_dir, num_cars_passing

In [28]:
people = raw_tracks[raw_tracks['class_name'] == 'person']
crossing_tracks = pd.DataFrame()
x_thr = 510
y_thr = 400
for track_id in people['track_id'].unique():
    this_track = people[people['track_id'] == track_id]
    if (this_track['centroid_x'] < x_thr).any() and (this_track['centroid_x'] > x_thr).any():
        crossing_tracks = crossing_tracks.append(this_track)

In [29]:
crossing_tracks

,track_id,class_name,bbox0,bbox1,bbox2,bbox3,centroid_x,centroid_y
frame_index,,,,,,,,
1492,854,person,457,346,478,380,467.5,363.0
1493,854,person,464,347,485,379,474.5,363.0
1494,854,person,472,353,489,379,480.5,366.0
1495,854,person,476,355,492,380,484.0,367.5
1496,854,person,487,353,504,380,495.5,366.5
...,...,...,...,...,...,...,...,...
1929,1080,person,213,346,233,384,223.0,365.0
1932,1080,person,191,341,217,391,204.0,366.0
1933,1080,person,187,340,213,391,200.0,365.5
1934,1080,person,185,338,211,390,198.0,364.0
1935,1080,person,178,337,205,390,191.5,363.5

In [30]:
crossing_tracks['track_id'].unique()

array([ 854, 1080])

In [37]:
people[people['track_id'] == 854]

,track_id,class_name,bbox0,bbox1,bbox2,bbox3,centroid_x,centroid_y
frame_index,,,,,,,,
1492,854,person,457,346,478,380,467.5,363.0
1493,854,person,464,347,485,379,474.5,363.0
1494,854,person,472,353,489,379,480.5,366.0
1495,854,person,476,355,492,380,484.0,367.5
1496,854,person,487,353,504,380,495.5,366.5
1497,854,person,493,354,509,380,501.0,367.0
1499,854,person,502,353,520,380,511.0,366.5
1500,854,person,508,353,525,381,516.5,367.0
1504,854,person,538,351,557,380,547.5,365.5
1505,854,person,545,351,563,380,554.0,365.5
1509,854,person,567,351,587,381,577.0,366.0
1510,854,person,569,351,590,382,579.5,366.5
1511,854,person,575,351,596,382,585.5,366.5
1512,854,person,575,351,597,383,586.0,367.0
1513,854,person,582,349,605,385,593.5,367.0
1514,854,person,587,349,611,385,599.0,367.0
1515,854,person,592,349,614,385,603.0,367.0
1516,854,person,595,349,618,386,606.5,367.5
1517,854,person,600,349,624,387,612.0,368.0

In [31]:
people[people['track_id'] == 1080]

,track_id,class_name,bbox0,bbox1,bbox2,bbox3,centroid_x,centroid_y
frame_index,,,,,,,,
1839,1080,person,824,367,841,408,832.5,387.5
1840,1080,person,824,368,841,409,832.5,388.5
1841,1080,person,824,365,841,407,832.5,386.0
1842,1080,person,824,368,840,407,832.0,387.5
1843,1080,person,822,368,838,408,830.0,388.0
...,...,...,...,...,...,...,...,...
1929,1080,person,213,346,233,384,223.0,365.0
1932,1080,person,191,341,217,391,204.0,366.0
1933,1080,person,187,340,213,391,200.0,365.5
1934,1080,person,185,338,211,390,198.0,364.0
1935,1080,person,178,337,205,390,191.5,363.5

In [32]:
cars = raw_tracks[raw_tracks['class_name'] == 'car']
crossing_cars = pd.DataFrame()
x_thr = 510
y_thr = 400
for track_id in cars['track_id'].unique():
    this_track = cars[cars['track_id'] == track_id]
    if (this_track['centroid_x'] < y_thr).any() and (this_track['centroid_x'] > y_thr).any():
        crossing_cars = crossing_cars.append(this_track)

In [33]:
crossing_cars

,track_id,class_name,bbox0,bbox1,bbox2,bbox3,centroid_x,centroid_y
frame_index,,,,,,,,
10,21,car,562,344,598,368,580.0,356.0
11,21,car,560,345,594,368,577.0,356.5
12,21,car,558,346,593,369,575.5,357.5
13,21,car,558,347,596,373,577.0,360.0
14,21,car,559,350,596,376,577.5,363.0
...,...,...,...,...,...,...,...,...
3340,1884,car,392,340,419,358,405.5,349.0
3341,1884,car,392,341,418,358,405.0,349.5
3342,1884,car,391,341,418,359,404.5,350.0
3343,1884,car,392,342,417,359,404.5,350.5
3344,1884,car,392,342,417,359,404.5,350.5

In [34]:
crossing_cars['track_id'].unique()

array([  21,   25,   38,   54,   59,   73,   80,   90,  105,  135,  152,
        161,  162,  172,  177,  209,  212,  218,  219,  229,  244,  276,
        287,  290,  304,  380,  382,  407,  447,  463,  488,  511,  514,
        553,  596,  630,  661,  669,  674,  682,  690,  695,  697,  700,
        730,  756,  764,  771,  804,  805,  810,  829,  834,  845,  903,
        944,  968, 1002, 1019, 1159, 1226, 1251, 1256, 1266, 1285, 1334,
       1369, 1375, 1397, 1408, 1464, 1493, 1502, 1537, 1593, 1599, 1600,
       1606, 1610, 1618, 1620, 1623, 1624, 1642, 1655, 1677, 1685, 1726,
       1752, 1769, 1777, 1798, 1808, 1815, 1819, 1820, 1832, 1884])

In [36]:
raw_tracks[raw_tracks['class_name'] == 'car']['track_id'].unique()

array([   1,    3,    4,    5,    8,    9,   11,   12,   16,   19,   21,
         23,   25,   27,   28,   29,   30,   31,   33,   34,   38,   40,
         41,   46,   48,   49,   51,   53,   54,   57,   58,   59,   60,
         61,   62,   67,   73,   74,   77,   78,   80,   82,   88,   89,
         90,   91,   92,   93,   94,   95,   96,  103,  105,  106,  107,
        111,  114,  120,  121,  128,  129,  133,  135,  136,  138,  143,
        145,  146,  149,  152,  153,  154,  158,  160,  161,  162,  166,
        168,  169,  170,  172,  177,  180,  181,  186,  189,  190,  191,
        193,  200,  203,  205,  206,  207,  209,  211,  212,  217,  218,
        219,  222,  223,  224,  229,  236,  244,  245,  249,  252,  253,
        254,  256,  263,  264,  267,  276,  277,  278,  279,  281,  286,
        287,  290,  291,  302,  304,  308,  315,  317,  321,  324,  328,
        329,  331,  333,  335,  338,  339,  340,  341,  349,  351,  356,
        357,  369,  371,  372,  377,  380,  382,  383,  395,  402,  404,
        406,  407,  408,  414,  424,  427,  447,  450,  462,  463,  465,
        466,  468,  469,  472,  474,  476,  479,  487,  488,  496,  499,
        509,  510,  511,  512,  514,  515,  519,  527,  528,  533,  539,
        540,  541,  542,  544,  550,  551,  553,  556,  557,  559,  560,
        562,  569,  582,  584,  585,  586,  589,  592,  593,  595,  596,
        599,  604,  606,  609,  610,  622,  628,  630,  634,  637,  639,
        642,  644,  645,  650,  655,  656,  661,  663,  664,  669,  672,
        674,  682,  683,  686,  689,  690,  691,  695,  697,  698,  700,
        704,  711,  713,  715,  730,  756,  764,  766,  767,  770,  771,
        784,  788,  792,  794,  795,  800,  804,  805,  810,  812,  813,
        814,  816,  818,  821,  825,  827,  829,  831,  834,  837,  844,
        845,  847,  850,  851,  858,  863,  869,  870,  871,  884,  888,
        893,  894,  898,  900,  902,  903,  904,  906,  910,  911,  912,
        917,  922,  924,  925,  935,  937,  939,  941,  942,  944,  952,
        953,  957,  963,  965,  967,  968,  976,  979,  980,  983,  991,
        997, 1002, 1009, 1010, 1019, 1027, 1031, 1032, 1046, 1049, 1051,
       1066, 1068, 1076, 1085, 1096, 1111, 1116, 1117, 1123, 1128, 1130,
       1137, 1139, 1142, 1145, 1147, 1148, 1159, 1164, 1165, 1174, 1177,
       1178, 1187, 1188, 1191, 1192, 1196, 1198, 1205, 1211, 1212, 1215,
       1218, 1219, 1222, 1224, 1226, 1236, 1239, 1240, 1241, 1242, 1248,
       1251, 1254, 1256, 1257, 1266, 1270, 1278, 1279, 1281, 1284, 1285,
       1288, 1290, 1291, 1300, 1309, 1316, 1322, 1328, 1334, 1343, 1351,
       1354, 1359, 1364, 1365, 1369, 1374, 1375, 1388, 1391, 1393, 1397,
       1398, 1404, 1408, 1410, 1413, 1428, 1432, 1434, 1435, 1438, 1440,
       1442, 1453, 1454, 1457, 1463, 1464, 1477, 1480, 1493, 1498, 1502,
       1528, 1533, 1537, 1539, 1551, 1557, 1579, 1581, 1585, 1588, 1589,
       1590, 1593, 1594, 1595, 1597, 1598, 1599, 1600, 1602, 1605, 1606,
       1608, 1609, 1610, 1617, 1618, 1619, 1620, 1621, 1623, 1624, 1627,
       1634, 1637, 1642, 1647, 1651, 1653, 1655, 1656, 1664, 1669, 1670,
       1673, 1675, 1677, 1678, 1681, 1682, 1685, 1687, 1688, 1691, 1692,
       1693, 1700, 1701, 1702, 1708, 1709, 1710, 1714, 1726, 1727, 1733,
       1743, 1747, 1748, 1752, 1754, 1759, 1761, 1765, 1768, 1769, 1772,
       1774, 1777, 1779, 1781, 1784, 1785, 1786, 1789, 1792, 1793, 1795,
       1796, 1797, 1798, 1801, 1802, 1805, 1806, 1808, 1812, 1815, 1819,
       1820, 1832, 1834, 1840, 1843, 1845, 1851, 1854, 1855, 1857, 1860,
       1864, 1867, 1878, 1879, 1881, 1884, 1885, 1888, 1896, 1898])